<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClgvDm94ZPc-draIRDWlFpC6nSAJS0cKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>490528032515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTraining</string>
	<key>PROJECT_ID</key>
	<string>counter-dev-c0edd</string>
	<key>STORAGE_BUCKET</key>
	<string>counter-dev-c0edd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490528032515:ios:dd744320a9744494444b36</string>
</dict>
</plist>